@import "./root.css";
@import "./fonts.css";
@import "./nav.css";
@import "./downloads.css";

body {
  font-family     : "Avenir Next Regular", sans-serif;
  font-size       : 18px;
  padding         : 2em;
  min-width       : 20em;
  max-width       : 800px;
  margin          : auto;
  background-color: var(--background-color);
  color           : var(--color);
}

h1 {
  text-transform: capitalize;
}

h2 {
  padding-top: 1em;
}

h3 {
  padding-top: 0.8em;
}

h4 {
  padding-top: 0.6em;
}

h5 {
  padding-top: 0.4em;
}

h6 {
  padding-top: 0.2em;
}

li {
  padding: 0.2em 0;
}

a {
  color: var(--accent-color);
}

a:visited {
  color: var(--accent-color);
}

strong {
  font-weight: bold;
}

span.technologyPreview,
span.technologyPreview * {
  background-color: yellow;
  color: black;
  font-variant: small-caps;
  font-weight: 900;
  padding: 0 0.5em;
}

span.latestStableImplementation,
span.latestStableImplementation * {
  background-color: green;
  color: white;
}

span.notYetImplemented {
  background-color: yellow;
  color: black;
}

aside.twitter-timeline  {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  display: none;
}

nav#table-of-contents li {
  margin-top: 1em;
}

button.call-to-action {
  font-size: 130%;
  color: white;
  background-color: #117FFF;
  border-radius: 0.5em;
  margin: 0 1em ;
  padding: 0.5em 1em;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color);
    color           : var(--color);
  }

  a {
    color: var(--accent-color);
  }

  a:visited {
    color: var(--accent-color);
  }
}

body>footer {
  padding: 3em 0;
  text-align: center;
  /* font-weight: bold; */
  color: #999;
}

body>footer a {
  color: #999 !important;
}

/* general figure setup */
figure {padding: 1em; margin:0;}
figure>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /* height: 35em; */
}

figcaption {
  text-align: center;
}

pre>code {
  white-space: pre;
  font-size: 0.7em;
}

/* 
// css should not contain language specific content
figcaption::before {
  content: "Figure ";
}

figcaption::after {
  content: ".";
} 
*/

iframe {
  width : 280px;
  height: 157px;
}


/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  figure>img {width: 500px;}
  iframe {
    width : 392px;
    height: 220px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  figure>img {width: 700px;}
  /* aside.twitter-timeline  {
    display: block;
  } */
  iframe {
    width : 560px;
    height: 315px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  figure>img {width: 700px;}
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  figure>img {width: 700px;}
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  figure>img {width: 700px;}
}
