
nav {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

nav>ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: underline;
}

nav a.selected {
  /* text-decoration: underline; */
  background-color: var(--accent-background-color);
  padding: 0 0.2em;
}

nav>ul>li {
  padding: 0;
}

nav>ul>li:first-child {
  font-size  : 2.2em;
  font-weight: bold;
  text-align:left;
}

nav .logo {
  height: 0.7em;
}

@media (prefers-color-scheme: light) {
  nav a {
    color: #555 !important;
  }
  nav .logo-dark {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  nav a {
    color: #ccc !important;
  }
  nav .logo-light {
    display: none;
  }
}

nav>ul>li:hover {
  background-color: var(--accent-background-color);
}

nav>ul {
  list-style-type: none;
  align-items    : center;
  justify-content: center;
}

@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  nav>ul {
    list-style-type: none;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr 1fr; */
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
