

ul.home-marquee {
  padding        : 0 0;
  list-style-type: none;
  display        : flex;
  flex-wrap      : nowrap;
  justify-content: space-between;
}

ul.home-marquee>li {
  width: 25em;
  padding: 0 2em 0 0;
}

ul.home-marquee>li:first-child h1 {
  font-size: xx-large;
  font-weight:500;
  /* color: #444; */
  text-transform: capitalize;
}

@media (prefers-color-scheme: light) {
  ul.home-marquee>li:first-child h1,
  h2 {
    color: #555 !important;
  }
}

@media (prefers-color-scheme: dark) {
  ul.home-marquee>li:first-child h1,
  h2 {
    color: #ccc !important;
  }
}

ul.home-marquee>li:nth-child(2) {
  background-image: url("/assets/images/The Role of AI in Social Media Management - Friend or Foe - lowres.png");
  /* background-image: url("/assets/images/Qworum-platform-with-logos.svg"); */
  /* background-image: url("/assets/images/licensed/homepage-artwork-400px.jpg"); */
  background-size: cover;
  width: 70%;
  display: none;
}

ul.home-marquee>li:first-child ul {
  margin: 0;
  padding: 0 0 0 1em;
  list-style-type: "â– ";
}

ul.home-marquee>li:first-child ul>li {
  padding: 0.5em 0;
}

section#call-to-action {
  margin: 3em auto 0 auto;
  /* padding: 1em; */
  width: 40%;
  /* background-color: salmon; */
}

/* ul.home-marquee>li:nth-child(2) {
  display: none;
} */

@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  figure.home-poster {
    display: none;
  }
  ul.home-marquee>li:nth-child(2) {
    display: block;
  } 

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* ul.home-marquee>li:nth-child(even) {
    background-image: url("/assets/images/licensed/homepage-artwork-800px.jpg");
  } */
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* ul.home-marquee>li:nth-child(even) {
    background-image: url("/assets/images/licensed/homepage-artwork-1000px.jpg");
  } */
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
