h1,p.pricing-description {
  text-align: center;
  padding: 0 20%;
}

ul.pricing-plans {
  padding: 5em 10%;
  list-style-type: none;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-around;
}

ul.pricing-plans>li {
  width: 15em;
  border: solid #ccc;
  border-radius: 15px;
  margin: 0.5em 0.5em;
  padding: 0.5em 0.5em;
  background-color: var(--accent-background-color);
}

p.pricing-plan-title {
  font-size: x-large;
  font-weight: bold;
  /* color:red; */
}

@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
