<footer>
  <div class="social">
    <a href="{{company.twitter.url}}" target='_blank'>
      𝕏
      {{# <img src="/assets/images/logos/X_logo_2023_original.svg" alt="𝕏 logo">  #}}
      {{# Todo: i18n #}}
    </a>
    &nbsp; 
    <a href="{{company.linkedin.url}}" target='_blank'>
      LinkedIn
      {{# <img src="/assets/images/logos/LinkedIn_Logo.svg" alt="LinkedIn logo">  #}}
      {{# Todo: i18n #}}
    </a>
  </div>
  {{# <br> <br> #}}
  <span class="footer-company">
    ©
    <time datetime="{{ '' |> copyrightDate }}">
      {{ '' |> copyrightDate }}
    </time>
    {{# file creation time, not site update time !! #}}
    {{# <time datetime="{{ date | date('DATE') }}">
      {{ date | date('YEAR') }}
    </time> #}}

    {{ company.name }} 

    {{ if company.registration }}
    —
    <a href="{{company.registration.url}}" target="_blank">
      {{ company.registration.id }}
    </a>.
    {{ /if }}

    {{# Mastodon identity verification #}}
    {{# <a style='display:none' rel="me" href="https://mastodon.social/@dogaar">Mastodon</a> #}}

  </span>
  ・

  <span>
    <a target="_blank" href="/docs/legal/terms-of-service/">
      Terms of service
    </a> ・
    <a target="_blank" href="/docs/legal/privacy-policy/">
      Privacy policy
    </a>
  </span>

  <br>
  {{# <br> #}}

  <span class="footer-hattip">
    {{# forget i18n ! #}}
    {{# Front page artwork: <a href="https://unsplash.com/@herfrenchness" target="_blank">Clarisse Croset</a>. 
    <br> #}}
    Static site generated with <a href="https://lume.land" target="_blank">Lume</a>.
  </span>

  {{# Qworum in Zalgo: Q̫̇̍̽ŵ̨̛̟̌̽o͔ͩ̑͌͒̕͘r̢̙ͥ͒͛͡u͗̅̀̚m̠ #}}

</footer>
