<footer>
  <span class="footer-company">
    ©
    <time datetime="{% siteUpdateYear %}">
      {% siteUpdateYear %}
    </time>
    {# file creation time, not site update time !! #}
    {# <time datetime="{{ date | date('DATE') }}">
      {{ date | date('YEAR') }}
    </time> #}

    {{ company.name }} 
    —
    <a href="{{company.registration.url}}" target="_blank">
      {{ company.registration.id }}
    </a>.

  </span>
  <br>
  <br>

  <span class="footer-hattip">
    {# forget i18n ! #}
    Static site generator: <a href="https://lume.land" target="_blank">Lume</a>. <br>
    Front page artwork: <a href="https://unsplash.com/photos/puy-FW4fOJc" target="_blank">Rohit Choudhari</a>. 
  </span>

</footer>
