---
layout: ./base.vto
---

<ul class="company-contributors">
  {{ for contributor of company.contributors }}
  <li>
      <figure>
        <img src="/assets/images/portraits/{{ contributor.image }}" alt="Portrait photo of {{ contributor.name }}">
        <figcaption>
            {{ contributor.name }}

            {{ for person of text.contributors }}
              {{ if person.name == contributor.name }}
                <br>
                {{ person.role }} 
              {{ /if }}
            {{ /for }}

            {{ if contributor.linkedin }}
              <br>
              <a href="{{ contributor.linkedin }}" target="_blank">
                <img src="/assets/images/logos/LinkedIn_icon.svg" height='66px' alt="">
              </a>
            {{ /if }}
        </figcaption>
      </figure>
  </li>
  {{ /for }}
</ul>

{{ for paragraph of text.description }}
  <p class="company-description">{{ paragraph }}</p>
{{ /for }}

<p class="company-info">
  {{# <strong>{{ company.name }}</strong> <br> #}}
  {{# {{ company.address }} <br> #}}

  {{# {{ text.semantic }} <br> #}}
  <a href="{{company.rdf}}" target="_blank">
    <img src="/assets/images/logos/Rdf_logo.svg" height='55px' alt="">
  </a> <br> <br> 

  📧
  <a href="mailto:{{company.email}}" target="_blank">
    {{company.email}}
  </a> <br> <br>

  𝕏
  <a href="{{company.twitter.url}}" target="_blank">
    {{company.twitter.handle}}
  </a> <br> <br>

  🦋
  <a href="{{company.bluesky.url}}" target="_blank">
    {{company.bluesky.handle}}
  </a> <br> <br>

  {{# •
  <a href="{{company.registration.url}}" target="_blank">
    {{ company.registration.id }}
  </a>  #}}
</p>
