<!DOCTYPE html>
<html lang="{{ lang.code }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style/base.css">
  <link rel="icon" href="/assets/images/logos/Qworum-favicon-16px.png">

  <title>{{ it.title ? title + ' • Qworum' : 'Qworum' }}</title>

  {{ if it.turtle }}
    <link rel="alternate" type="text/turtle" href="/data/{{ turtle }}.ttl" />
  {{ else }}
    {{# <link rel="alternate" type="text/turtle" href="/data/org.ttl" /> #}}
  {{ /if }}

  {{ if it.css }}
    <link rel="stylesheet" href="/assets/style/pages/{{ css }}">
  {{ /if }}

</head>
<body>
  {{ include "page-parts/header.vto" }}
  <main>
    {{ content }}
  </main>
  {{ include "page-parts/footer.vto" }}
</body>
</html>
