<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style/base.css">
  {% if css %}
    <link rel="stylesheet" href="/assets/style/pages/{{ css }}">
  {% endif %}
  <title>{{ title + ' - Qworum' if title else 'Qworum' }}</title>
</head>
<body>
  {% include "templates/header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "templates/footer.njk" %}
</body>
</html>
