---
layout: ./base.njk
---

<ul class="company-contributors">
  {% for contributor in contributors %}
  <li>
    <a href="{{ contributor.linkedin | safe }}" target="_blank">
      <figure>
        <img src="/assets/images/portraits/{{ contributor.image }}" alt="">
        <figcaption>
            {{ contributor.name | safe }},
            {{ contributor.role | safe }} <br>
            <img src="/assets/images/logos/LinkedIn_Logo.svg" alt="">
        </figcaption>
      </figure>
    </a>
  </li>
  {% endfor %}
</ul>

<p class="company-info">
  <strong>{{company.name}}</strong> <br>
  {{company.address}} <br>
  <a href="mailto:{{company.email}}" target="_blank">
    {{company.email}}
  </a> —
  <a href="{{company.registration.url}}" target="_blank">
    {{ company.registration.id }}
  </a> 
</p>

{% for paragraph in description %}
<p class="company-description">{{ paragraph | safe }}</p>
{% endfor %}
