---
layout: ./base.njk
---

<h1>{{ title | safe }}</h1>
<p>{{ lead | safe }}</p>

<ul>
  {% for demo in demos %}
    <li>
      <a href="{{ demo.link }}" target="_blank">{{ demo.title | safe }}</a>: 
      {{ demo.description | safe}}
    </li>
  {% endfor %}
</ul>
