---
layout: ./base.njk
css: plans.css
---

<h1>{{ title }}</h1>
<p class="pricing-description">{{ description | safe }}</p>

<ul class="pricing-plans">
  {% for plan in plans %}
  <li>
    <p class="pricing-plan-title">
      {{ plan.title }}
    </p>
    {% if plan.call_to_action %}
      <button class='call-to-action' onClick="window.location = '{{ plan.call_to_action }}'">
        {{ subscribe_tag }}
      </button>
    {% endif %}
    <p>
      {{ plan.price | safe }}
    </p>
    <p>
      {{ features_tag }}:
    </p>
    <ul>
      {% for feature in plan.features %}
      <li>
        {{ feature | safe }}
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

<p>{{ conditions_tag }}:</p>
<ul class="pricing-notes">
  {% for note in conditions %}
  <li>
    {{ note | safe }}
  </li>
  {% endfor %}
</ul>

<script>
  const lang = document.documentElement.lang;

  document.querySelectorAll("span.price")
  .forEach(priceElement => {
    const
    amount    = parseFloat(priceElement.dataset.amount),
    currency  = priceElement.dataset.currency,
    priceHtml = new Intl.NumberFormat(lang, { style: 'currency', currency }).format(amount);

    priceElement.innerHTML = priceHtml;
  });

</script>
