---
layout: ./base.njk
---

<h1>{{ title }}</h1>
<p class="pricing-description">{{ description | safe }}</p>

<ul class="pricing-plans">
  {% for plan in plans %}
  <li>
    <p class="pricing-plan-title">
      {{ plan.title | upper }}
    </p>
    <p>
      {{ plan.price }}
    </p>
    <p>
      {{ features_tag }}:
    </p>
    <ul>
      {% for feature in plan.features %}
      <li>
        {{ feature }}
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

<p>{{ notes_tag }}:</p>
<ul class="pricing-notes">
  {% for note in notes %}
  <li>
    {{ note | safe }}
  </li>
  {% endfor %}
</ul>