---
layout: layouts/base.njk
css: developers.css
title: Developers
nav:
  order: 4
  selection: developers
---

<section id="developers-resources">
  <h2>Developer Resources</h2>
  <ul>
    <li>
      <a href="specification.njk">Qworum specification</a>: The target audience for this specification are the developers of Qworum applications and services, as well as Qworum platform developers.
    </li>
    <li>
      <a href="/docs/qworum-for-web-pages/latest/" target="_blank">
        JavaScript library for Web Pages (API documentation)</a>: With this JavaScript ES module, websites can use the advanced browser functionality that is provided by
      Qworum's browser extension.
    </li>
    <li>
      <a href="https://github.com/doga/qworum-demo" target="_blank">Demo project 1</a>:
      This GitHub repository contains the code base for a demo project.
      This project uses the JSON format for data that is received and returned by service end-points, and also for
      storing session data in the browser.
    </li>
    <li>
      <a href="https://github.com/doga/qworum-demo-semantic" target="_blank">Demo project 2</a>:
      This GitHub repository contains the code base for a demo project.
      This project uses semantic data instead of JSON for data that is received and returned by service end-points,
      and also for storing session data in the browser.
    </li>
    <li>
      <a href="https://gist.github.com/doga/f130bb6c678b109b16bbf2db25dbb853" target="_blank">Demo in
        pseudocode</a>:
      This is a TypeScript pseudocode that describes the demo project. This is an easy way of
      seeing an overview of how the demo is structured.
    </li>
    <li>
      <a href="https://marketplace.visualstudio.com/items?itemName=qworum.qworum" target="_blank">
        Visual Studio Code extension</a>: Provides XML snippets for writing static Qworum scripts. This
      VS Code extension is automatically activated for files that have the <code>.qrm.xml</code> extension.
    </li>
    <li>
      <a href="https://groups.google.com/g/qworumnet?hl=en" target="_blank">
        Google group</a>: Visit this group for feature requests, bug reports and general discussion.
    </li>
  </ul>
  <p>
    Note that, although you need to <a href="pricing.yaml">contact us</a> in order to use Qworum on your Internet
    website, you can develop Qworum-enabled websites locally right now. The web origins that are enabled by default
    are:
  </p>
  <ul>
    <li><code>http://localhost:8080</code>, <code>http://27.0.0.1:8080</code> (TCP port 8080 is often used in the Java world)</li>
    <li><code>http://localhost:3000</code>, <code>http://27.0.0.1:3000</code> (port 3000 is often used in Deno or Node.js projects)</li>
    <li><code>http://localhost:5500</code>, <code>http://27.0.0.1:5500</code> (5500 is the default port for VS Code's <a
        href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer" target="_blank">Live
        Server</a> extension)</li>
    <li><code>http://localhost:5501</code>, <code>http://27.0.0.1:5501</code> (alternative Live Server port)</li>
    <li><code>http://localhost:5502</code>, <code>http://27.0.0.1:5502</code> (alternative Live Server port)</li>
  </ul>
</section>

<section id="downloads">
  <h2>Downloads</h2>

  <div id="downloads-list">
    <figure class="download selected">
      <img src="/assets/images/logos/Unofficial_JavaScript_logo_2.svg" alt="JavaScript icon">
      <figcaption>
        <a href="https://github.com/doga/qworum-for-web-pages" target="_blank">
          Qworum for <br> Web Pages
        </a>
      </figcaption>
    </figure>
    <figure class="download selected">
      <img src="/assets/images/logos/Visual_Studio_Code_1.35_icon.svg" alt="Visual Studio Code icon">
      <figcaption>
        <a href="https://marketplace.visualstudio.com/items?itemName=qworum.qworum" target="_blank">
          Qworum for <br> Visual Studio Code
        </a>
      </figcaption>
    </figure>
  </div>
</section>
