---
layout   : layouts/base.njk
css      : home.css
title    : Home
nav      : 
  selection: home

mission:
  oneliner: |
    The category-defining frontend technology for user-facing application integrations and more
  usp:
  - Qworum brings 𝗳𝘂𝗹𝗹-𝘀𝘁𝗮𝗰𝗸 𝗮𝗽𝗽𝗹𝗶𝗰𝗮𝘁𝗶𝗼𝗻 𝗶𝗻𝘁𝗲𝗴𝗿𝗮𝘁𝗶𝗼𝗻𝘀 to the web platform. Integrate your interactive user flows into other applications, and vice versa. Increase the 𝗯𝘂𝘀𝗶𝗻𝗲𝘀𝘀 𝘃𝗮𝗹𝘂𝗲 of your applications.
  - Increase your 𝗱𝗲𝘃𝗲𝗹𝗼𝗽𝗲𝗿 𝗽𝗿𝗼𝗱𝘂𝗰𝘁𝗶𝘃𝗶𝘁𝘆 through interactive, 𝗳𝘂𝗹𝗹-𝘀𝘁𝗮𝗰𝗸 𝘄𝗲𝗯 𝗔𝗣𝗜𝘀 (a world-first!).
  - Bring your frontends in line with 𝗺𝗶𝗰𝗿𝗼𝘀𝗲𝗿𝘃𝗶𝗰𝗲𝘀 𝗮𝗿𝗰𝗵𝗶𝘁𝗲𝗰𝘁𝘂𝗿𝗲𝘀. Enable developer teams to work in parallel by spreading your application's frontend over several web origins.
#  - Qworum defines 𝗮 𝗻𝗲𝘄 𝘁𝘆𝗽𝗲 𝗼𝗳 𝘄𝗲𝗯 𝗔𝗣𝗜 where each endpoint can interact with the end-user ("full-stack").
  - Advanced web browser capabilities — Qworum is a 𝗣𝗮𝗮𝗦 / 𝗶𝗣𝗮𝗮𝗦 combination that brings improved application support to the web platform.

downloads:
  title: Free web browser extension
  description: >
    Currently supported: Google Chrome on desktop/laptop. We plan on enabling all mainstream browsers that support extensions, including on mobile platforms. 
    User data stays in the browser; see our <a target="_blank" href="/docs/legal/privacy-policy/">privacy policy</a>.

pitch:
  title: Investor pitch
  description: >
    1-minute pitch for this seed-stage project:

dataIntegrations:
  title: Qworum integrations compared to data integrations
  description:
    - Qworum integrations are 𝗶𝗻𝘁𝗲𝗿𝗮𝗰𝘁𝗶𝘃𝗲, whereas the currently prevalent application integrations consist of automated data transfers.
    - Also, with Qworum-based integrations your end-users see 𝗹𝗶𝘃𝗲 𝗱𝗮𝘁𝗮, because the user has access to the original data, not a copy. This is in contrast to data integrations where users generally see data that is stale to a greater or lesser extent, because it is a copy.

demo:
  title: Demo of a distributed web application
  description: >
    30-second demo showing an e-shop that uses a remote shopping cart hosted on a different DNS domain.
    <a target="_blank" href='https://www.infoq.com/articles/qworum-modular-ui-architecture/'>This InfoQ article</a> describes in detail how this works.
    Note that consumer SaaS would ideally require that Qworum come preinstalled on browsers.
---

<ul class="home-marquee">
  <li>
    <h1>{{ mission.oneliner }}</h1>
    <ul>
      {% for argument in mission.usp %}
        <li>{{ argument }}</li>
      {% endfor %}
    </ul>
  </li>
  <li></li>
</ul>


{# <section id="pitch">
  <h2>{{ pitch.title }}</h2>
  <p>{{ pitch.description }}</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/c1Ro_y9-EWw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</section> #}


<section id="downloads">
  <h2>{{ downloads.title }}</h2>

  <div id="downloads-list">
    <!-- order browsers by market share: Browser Market Share Worldwide https://gs.statcounter.com/browser-market-share -->
    <figure class="download" id="chrome">
      <img src="/assets/images/logos/Google_Chrome_icon_(February_2022).svg" alt="Google Chrome icon">
      <figcaption>
        <a href="https://chrome.google.com/webstore/detail/qworum-the-service-web/leaofcglebjeebmnmlapbnfbjgfiaokg"
          target="_blank">
          Qworum for <br> Google Chrome
        </a>
      </figcaption>
    </figure>
    <figure class="download" id="safari">
      <img src="/assets/images/logos/Safari_browser_logo.svg" alt="Safari icon">
      <figcaption>
        Qworum for <br> Safari
      </figcaption>
    </figure>
    <figure class="download" id="edge">
      <!-- TODO use the [Microsoft Edge add-ons store](https://microsoftedge.microsoft.com/addons/Microsoft-Edge-Extensions-Home) -->
      <img src="/assets/images/logos/Microsoft_Edge_logo_(2019).svg" alt="Microsoft Edge icon">
      <figcaption>
        {# <a href="https://chrome.google.com/webstore/detail/qworum-the-service-web/leaofcglebjeebmnmlapbnfbjgfiaokg" target="_blank"> #}
          Qworum for <br> Microsoft Edge
        {# </a> #}
      </figcaption>
    </figure>
    <figure class="download" id="firefox">
      <img src="/assets/images/logos/Firefox_logo_2019.svg" alt="Firefox icon">
      <figcaption>
        Qworum for <br> Firefox
      </figcaption>
    </figure>
    <figure class="download" id="opera">
      <!-- TODO use the [Opera addons store](https://addons.opera.com/en-gb/extensions/?ref=menu) -->
      <img src="/assets/images/logos/Opera_2015_logo-cropped.svg" alt="Opera Browser icon">
      <figcaption>
        {# <a href="https://chrome.google.com/webstore/detail/qworum-the-service-web/leaofcglebjeebmnmlapbnfbjgfiaokg" target="_blank"> #}
          Qworum for <br> Opera Browser
        {# </a> #}
      </figcaption>
    </figure>
    <figure class="download" id="brave">
      <img src="/assets/images/logos/Brave-logo-color-RGB_reversed-cropped.svg" alt="Brave Browser icon">
      <figcaption>
        {# <a href="https://chrome.google.com/webstore/detail/qworum-the-service-web/leaofcglebjeebmnmlapbnfbjgfiaokg" target="_blank"> #}
          Qworum for <br> Brave Browser
        {# </a> #}
      </figcaption>
    </figure>
  </div>

  <p class="downloads-explanation">{{ downloads.description | safe }}</p>
</section>

<section id="data-integrations">
  <h2>{{ dataIntegrations.title }}</h2>
  {% for p in dataIntegrations.description %}
    <p>{{ p | safe }}</p>
  {% endfor %}
  <p>
  </p>
  <figure id="chrome">
    <img src="/assets/images/qworum-integrations-vs-data-integrations.svg" alt="Google Chrome icon">
    {# <figcaption>
      Qworum integrations are interactive
    </figcaption> #}
  </figure>
</section>

<section id="demo">
  <h2>{{ demo.title }}</h2>
  <p>
    {{ demo.description | safe }}
  </p>
  <iframe src="https://www.youtube.com/embed/sSb1mqlFM4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</section>

<script type="module" src="/assets/js/homepage.js"></script>


<!-- highlight.js (code highlighting) -->
<!-- https://highlightjs.org/download/ -->
<!-- https://github.com/highlightjs/highlight.js -->
{# <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>  #}
