---
layout   : layouts/base.njk
css      : home.css
title    : Home
nav      : 
  selection: home

mission:
  oneliner: |
    The new category-defining iPaaS / PaaS solution
#    The category-defining frontend technology for user-facing application integrations and more
  usp:
  - Qworum brings 𝗳𝘂𝗹𝗹-𝘀𝘁𝗮𝗰𝗸 𝗮𝗽𝗽𝗹𝗶𝗰𝗮𝘁𝗶𝗼𝗻 𝗶𝗻𝘁𝗲𝗴𝗿𝗮𝘁𝗶𝗼𝗻𝘀 to the web platform. Integrate your interactive user flows into other applications, and vice versa. Increase the 𝗯𝘂𝘀𝗶𝗻𝗲𝘀𝘀 𝘃𝗮𝗹𝘂𝗲 of your applications.
  - Increase your 𝗱𝗲𝘃𝗲𝗹𝗼𝗽𝗲𝗿 𝗽𝗿𝗼𝗱𝘂𝗰𝘁𝗶𝘃𝗶𝘁𝘆 through interactive, 𝗳𝘂𝗹𝗹-𝘀𝘁𝗮𝗰𝗸 𝘄𝗲𝗯 𝗔𝗣𝗜𝘀 (a world-first!).
  - Make your application frontends compatible with 𝗺𝗶𝗰𝗿𝗼𝘀𝗲𝗿𝘃𝗶𝗰𝗲𝘀 𝗮𝗿𝗰𝗵𝗶𝘁𝗲𝗰𝘁𝘂𝗿𝗲𝘀. Enable developer teams to work in parallel by spreading frontends over several web origins.
#  - Qworum defines 𝗮 𝗻𝗲𝘄 𝘁𝘆𝗽𝗲 𝗼𝗳 𝘄𝗲𝗯 𝗔𝗣𝗜 where each endpoint can interact with the end-user ("full-stack").
  - Advanced web browser capabilities — Qworum brings improved application support to the web platform.

downloads:
  title: Free web browser extension
  description: >
    Currently supported: Google Chrome on desktop/laptop. We plan on enabling all mainstream browsers that support extensions, including on mobile platforms. 
    User data stays in the browser; see our <a target="_blank" href="/docs/legal/privacy-policy/">privacy policy</a>.

pitch:
  title: Investor pitch
  description: >
    1-minute pitch for this seed-stage project:

integrations:
  title: How Qworum improves application integrations
  description:
    - Qworum integrations are interactive, whereas the currently prevalent application integrations consist of non-interactive data transfers. This makes Qworum the easier API technology to use in many scenarios.
    - For example, 𝗤𝘄𝗼𝗿𝘂𝗺 𝗔𝗣𝗜𝘀 𝗽𝗿𝗼𝘃𝗶𝗱𝗲 𝘁𝗵𝗲𝗶𝗿 𝗼𝘄𝗻 𝗨𝗜𝘀 so that these UIs don't need to be implemented by each client application separately.
    - Also, calling Qworum APIs typically require a 𝘀𝗺𝗮𝗹𝗹𝗲𝗿 𝗻𝘂𝗺𝗯𝗲𝗿 𝗼𝗳 𝗰𝗮𝗹𝗹𝘀 compared to other APIs. Think about what it takes to browse a remote file system for example.
    - In addition, Qworum integrations are easier to set up. For the client applications, there is 𝗻𝗼 𝗻𝗲𝗲𝗱 𝘁𝗼 𝗼𝗯𝘁𝗮𝗶𝗻 𝗮𝗻 𝗔𝗣𝗜 𝗸𝗲𝘆, because Qworum API calls are reguler web redirections. Also, there is 𝗻𝗼 𝗻𝗲𝗲𝗱 𝘁𝗼 𝗮𝘂𝘁𝗵𝗲𝗻𝘁𝗶𝗰𝗮𝘁𝗲 𝘁𝗵𝗲 𝘂𝘀𝗲𝗿 to the remote service, as Qworum APIs will take care of authenticating the users themselves.
    - And lastly, Qworum integrations produce 𝗹𝗶𝘃𝗲 𝗱𝗮𝘁𝗮, not stale data.

demo:
  title: See a Qworum-based web application in action
  description: >
    Remote web APIs don't have to be tied to remote applications, in other words they can be standalone APIs. In this case we would be dealing with distributed applications rather than application integration. Here is a 30-second demo showing an e-shop that uses a remote shopping cart hosted on a different DNS domain.
    <a target="_blank" href='https://www.infoq.com/articles/qworum-modular-ui-architecture/'>This InfoQ article</a> describes in detail how this works.
    Note that consumer SaaS would ideally require that Qworum come preinstalled on browsers.

fullstack:
  title: What is a full-stack API protocol?
  description:
    - Full-stack API protocols cover all three application layers — data, business logic, and presentation. 𝗤𝘄𝗼𝗿𝘂𝗺 𝗶𝘀 𝗰𝘂𝗿𝗿𝗲𝗻𝘁𝗹𝘆 𝘁𝗵𝗲 𝗼𝗻𝗹𝘆 𝗳𝘂𝗹𝗹-𝘀𝘁𝗮𝗰𝗸 𝗔𝗣𝗜 𝘁𝗲𝗰𝗵𝗻𝗼𝗹𝗼𝗴𝘆 in existence.
    - The biggest difference between Qworum and the other protocols is that Qworum structures and modularises application frontends, whereas the others are backend protocols.
    - In that sense, Qworum does not replace the other protocols, but complements them. For example, a Qworum endpoint may very well use REST for connecting to the service's backend. 
    - It is also worth noting that Qworum is not only a protocol that web applications use for calling remote services, but 𝘄𝗵𝗼𝗹𝗲 𝗮𝗽𝗽𝗹𝗶𝗰𝗮𝘁𝗶𝗼𝗻 𝗳𝗿𝗼𝗻𝘁𝗲𝗻𝗱𝘀 𝗰𝗮𝗻 𝗯𝗲 𝗯𝘂𝗶𝗹𝘁 𝗳𝗿𝗼𝗺 𝘀𝗰𝗿𝗮𝘁𝗰𝗵 𝗮𝘀 𝗤𝘄𝗼𝗿𝘂𝗺 𝗔𝗣𝗜𝘀, and in fact this is the recommended way of structuring web applications. In this case, a web application will have a main Qworum endpoint, plus any number of local and remote endpoints that the application may call.
    - Another difference between Qworum and the other protocols is that Qworum sessions are stateful. This means that Qworum attaches runtime states to browser tabs.

---

<ul class="home-marquee">
  <li>
    <h1>{{ mission.oneliner }}</h1>
    <ul>
      {% for argument in mission.usp %}
        <li>{{ argument }}</li>
      {% endfor %}
    </ul>
  </li>
  <li></li>
</ul>


{# <section id="pitch">
  <h2>{{ pitch.title }}</h2>
  <p>{{ pitch.description }}</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/c1Ro_y9-EWw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</section> #}


<section id="downloads">
  <h2>{{ downloads.title }}</h2>

  <div id="downloads-list">
    <!-- order browsers by market share: Browser Market Share Worldwide https://gs.statcounter.com/browser-market-share -->
    <figure class="download" id="chrome">
      <img src="/assets/images/logos/Google_Chrome_icon_(February_2022).svg" alt="Google Chrome icon">
      <figcaption>
        <a href="https://chrome.google.com/webstore/detail/qworum-the-service-web/leaofcglebjeebmnmlapbnfbjgfiaokg"
          target="_blank">
          Qworum for <br> Google Chrome
        </a>
      </figcaption>
    </figure>
    <figure class="download" id="safari">
      <img src="/assets/images/logos/Safari_browser_logo.svg" alt="Safari icon">
      <figcaption>
        Qworum for <br> Safari
      </figcaption>
    </figure>
    <figure class="download" id="edge">
      <!-- TODO use the [Microsoft Edge add-ons store](https://microsoftedge.microsoft.com/addons/Microsoft-Edge-Extensions-Home) -->
      <img src="/assets/images/logos/Microsoft_Edge_logo_(2019).svg" alt="Microsoft Edge icon">
      <figcaption>
        {# <a href="https://chrome.google.com/webstore/detail/qworum-the-service-web/leaofcglebjeebmnmlapbnfbjgfiaokg" target="_blank"> #}
          Qworum for <br> Microsoft Edge
        {# </a> #}
      </figcaption>
    </figure>
    <figure class="download" id="firefox">
      <img src="/assets/images/logos/Firefox_logo_2019.svg" alt="Firefox icon">
      <figcaption>
        Qworum for <br> Firefox
      </figcaption>
    </figure>
    <figure class="download" id="opera">
      <!-- TODO use the [Opera addons store](https://addons.opera.com/en-gb/extensions/?ref=menu) -->
      <img src="/assets/images/logos/Opera_2015_logo-cropped.svg" alt="Opera Browser icon">
      <figcaption>
        {# <a href="https://chrome.google.com/webstore/detail/qworum-the-service-web/leaofcglebjeebmnmlapbnfbjgfiaokg" target="_blank"> #}
          Qworum for <br> Opera Browser
        {# </a> #}
      </figcaption>
    </figure>
    <figure class="download" id="brave">
      <img src="/assets/images/logos/Brave-logo-color-RGB_reversed-cropped.svg" alt="Brave Browser icon">
      <figcaption>
        {# <a href="https://chrome.google.com/webstore/detail/qworum-the-service-web/leaofcglebjeebmnmlapbnfbjgfiaokg" target="_blank"> #}
          Qworum for <br> Brave Browser
        {# </a> #}
      </figcaption>
    </figure>
  </div>

  <p class="downloads-explanation">{{ downloads.description | safe }}</p>
</section>

<section id="integrations">
  <h2>{{ integrations.title }}</h2>
  {% for p in integrations.description %}
    <p>{{ p | safe }}</p>
  {% endfor %}
  <figure>
    <img src="/assets/images/qworum-integrations.png" alt="Google Chrome icon">
    {# <figcaption>
      Qworum integrations are interactive
    </figcaption> #}
  </figure>
</section>

<section id="demo">
  <h2>{{ demo.title }}</h2>
  <p>
    {{ demo.description | safe }}
  </p>
  <iframe src="https://www.youtube.com/embed/sSb1mqlFM4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</section>

<section id="fullstack">
  <h2>{{ fullstack.title }}</h2>
  {% for p in fullstack.description %}
    <p>{{ p | safe }}</p>
  {% endfor %}
  <figure>
    <img src="/assets/images/qworum-vs-other-protocols.svg" alt="Google Chrome icon">
  </figure>
</section>

<script type="module" src="/assets/js/homepage.js"></script>


<!-- highlight.js (code highlighting) -->
<!-- https://highlightjs.org/download/ -->
<!-- https://github.com/highlightjs/highlight.js -->
{# <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>  #}
