@font-face {
  font-family: "Avenir Next Regular";
  src: url("/_assets/fonts/Avenir-Next-Regular/8b1d5802-f86f-4cc1-95a8-261eabda1d22.woff2") format("woff2");
}

:root {
  --accent-color: #0D498B;
  --accent-background-color: #eee;
}

body {
  font-family: "Avenir Next Regular", sans-serif;
  margin: 2em;
  /* max-width: 800px;
  min-width: 20em; */
  background-color: white;
  color: black;
}

h2 {
  padding-top: 1em;
}

h3 {
  padding-top: 0.8em;
}

h4 {
  padding-top: 0.6em;
}

h5 {
  padding-top: 0.4em;
}

h6 {
  padding-top: 0.2em;
}

a {
  color: var(--accent-color);
}

a:visited {
  color: var(--accent-color);
}

aside.twitter-timeline  {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  display: none;
}

nav#table-of-contents li {
  margin-top: 1em;
}

.download {
  opacity: .3;
}

.download:hover {
  opacity: 1;
}

.download.selected {
  opacity: 1;
}



@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: lightskyblue;
    --accent-background-color: darkgray;
  }

  body {
    background-color: #333;
    color: white;
  }

  a {
    color: var(--accent-color);
  }

  a:visited {
    color: var(--accent-color);
  }
}

body>footer {
  padding: 3em;
  font-weight: bold;
  color: #999;
}

/* general figure setup */
figure {padding: 1em; margin:0;}
figure>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /* height: 35em; */
}

figcaption {
  text-align: center;
}

figcaption::before {
  content: "Figure ";
}

figcaption::after {
  content: ".";
}

/* download figures */
#downloads-list > figure > img {width: 50px;}
#downloads-list > figure > figcaption {font-size: 15px;}
#downloads-list > figure > figcaption::before {content: "";}
#downloads-list > figure > figcaption::after {content: "";}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  figure>img {width: 500px;}
  #downloads-list > figure > img {width: 55px;}
  #downloads-list > figure > figcaption {font-size: 15px;}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  figure>img {width: 700px;}
  #downloads-list > figure > img {width: 60px;}
  #downloads-list > figure > figcaption {font-size: 15px;}
  aside.twitter-timeline  {
    display: block;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  figure>img {width: 700px;}
  #downloads-list > figure > img {width: 65px;}
  #downloads-list > figure > figcaption {font-size: 16px;}
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  figure>img {width: 700px;}
  #downloads-list > figure > img {width: 70px;}
  #downloads-list > figure > figcaption {font-size: 17px;}
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  figure>img {width: 700px;}
  #downloads-list > figure > img {width: 75px;}
  #downloads-list > figure > figcaption {font-size: 18px;}
}
